.product{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  img{
    margin: 0 auto;
    width: 250px;
  }
  .info{
    padding: 10px;
    h2{
      margin: 10px;
    }
    .des{
      font-size: 14px;
      font-weight: 200;
      margin-bottom: 10px;
    }
    .price{
      font-size: 24px;
      font-weight: 300;
    }
    button{
      color: white;
      background-color: rgb(0, 196, 0);
      border: none;
      font-size: 26px;
      margin: 10px auto;
      width: 285px;
      height: 50px;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.2s;
    }
    button:hover{
      background-color: rgb(2, 177, 2);
    }
  }
}

@media screen and (min-width: 768px) {
  .product{
    margin: 0 auto;
    width: 75%;
    flex-direction: row;
    justify-content: center;
    .info{
      width: 50%;
      .des{
        width: 50%;
      }
    }
  }
}
